# Ignore all files and directories.
/*
/*/

# Don't ignore the files in the '.bash' directory, except for files with names
# that end with '.local', to allow for machine-specific configurations.

!/.zsh/
/.zsh/*.local

# Don't ignore zsh configuration files.
!/.zlogin
!/.zlogout
!/.zshenv
!/.zshrc
!/.dir_colors

# Don't ignore some other rc files.
!/.tigrc
!/.tmux.conf
!/.screenrc
!/.hyper.js

# Don't ignore some files in the '.vim' directory.
!/.vim/
/.vim/viminfo

